numpy<2           # avoid binary wheels compiled against NumPy 1.x from breaking
streamlit
pdfplumber
python-docx
beautifulsoup4
requests
lxml
spacy
sentence-transformers
faiss-cpu
langchain
numpy
scikit-learn
unstructured